{% load static %}

{% block content %}


    <div class="catal-item">
        <div class="item-cont">
            <!--Item detail-->
            {{item.id}}
            <a href="">

                <img src="{% static 'images/prod.png' %}" alt="">
            </a>

            <p class="item-name">{{item.item_name}}</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB {{item.item_price}}</p>
                </div>



                <div class="cart">
                    <a href="">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="rating">
               
                {% if item.get_rating >= 1 %}
                    <img src="{% static 'images/filled_star.png' %}" alt="">
                {% else %}
                    <img src="{% static 'images/empty_star.png' %}" alt="">
                {% endif %}
                {% if item.get_rating >= 2 %}
                    <img src="{% static 'images/filled_star.png' %}" alt="">
                {% else %}
                    <img src="{% static 'images/empty_star.png' %}" alt="">
                {% endif %}
                {% if item.get_rating >= 3 %}
                    <img src="{% static 'images/filled_star.png' %}" alt="">
                {% else %}
                    <img src="{% static 'images/empty_star.png' %}" alt="">
                {% endif %}
                {% if item.get_rating >= 4 %}
                    <img src="{% static 'images/filled_star.png' %}" alt="">
                {% else %}
                    <img src="{% static 'images/empty_star.png' %}" alt="">
                {% endif %}
                {% if item.get_rating >= 5 %}
                    <img src="{% static 'images/filled_star.png' %}" alt="">
                {% else %}
                    <img src="{% static 'images/empty_star.png' %}" alt="">
                {% endif %}
            </div>
        </div>
          
    </div>
    


{% endblock %}