{% load static %}

{% block content %}

<div class="catalogue-cont">
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="catal-item">
        <div class="item-cont">
            <img src="{% static 'images/prod.png' %}" alt="">
            <p class="item-name">Dinning Table</p>
            <div class="price-cart">
                <div>
                    <p class="item-price bold" >ETB 25,000 </p>
                </div>
                <div class="cart">
                    <img src="{% static 'images/cartp.png' %}" alt="">
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
                <img src="{% static 'images/rate.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}